<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edmiidz.feelfix"
    android:versionCode="2"
    android:versionName="1.0.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="UploadonGoogleDrive"
            android:exported="true"
            android:icon="@drawable/bg_app"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            
            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="668574152052" />

            <intent-filter>
                <action android:name="com.google.android.apps.drive.DRIVE_OPEN" />

                <!-- <data android:mimeType="application/vnd.google-apps.drive-sdk.435861941174" /> -->
                <data android:mimeType="application/vnd.google-apps.drive-sdk.668574152052" />
            </intent-filter>
        </activity>
        <activity
            android:name="DownloadFromDrive"
            android:exported="true"
            android:icon="@drawable/bg_app"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            
            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="668574152052" />

            <intent-filter>
                <action android:name="com.google.android.apps.drive.DRIVE_OPEN" />

                <!-- <data android:mimeType="application/vnd.google-apps.drive-sdk.435861941174" /> -->
                <data android:mimeType="application/vnd.google-apps.drive-sdk.668574152052" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.edmiidz.feelfix.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home"  
                    android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RecordList"
            android:screenOrientation="portrait">
        </activity>
        <!-- <activity android:name=".UploadonGoogleDrive" >
        </activity>
        <activity android:name=".DownloadFromDrive" >
        </activity> -->
        <activity android:name=".EditRecord"  
                    android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RecordListView_cie"
                    android:screenOrientation="portrait">
        </activity>
        <activity android:name=".DataSyn"  
                    android:screenOrientation="portrait">
        </activity>
        <activity android:name=".More"  
                    android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Setting"  
                    android:screenOrientation="portrait">
        </activity>
        <activity android:name=".CollectionDemoActivity"  
                    android:screenOrientation="portrait">
        </activity>
        <activity android:name=".UpdateCollectionDemoActivity"  
                    android:screenOrientation="portrait">
        </activity>
        
        <activity android:name=".SearchView" 
                    android:screenOrientation="portrait"
                    android:windowSoftInputMode="stateHidden">
        </activity>
    </application>


</manifest>